aiohttp
async
gunicorn
prometheus_client>=0.20.0
opentelemetry-instrumentation-aiohttp-server
opentelemetry-instrumentation-logging
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-distro
